table th {
  background-color: #e5d4b3;
  padding: 10px 20px;
}

table td {
  background-color: #f5f0e0;
  padding: 10px 20px;
}

.notice {
  background-color: #c1af9a;
  padding: 5px;
}
header{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px solid #c1af9a;
}
.partial {
    color: white;
    background-color: #a8a08f;
    text-align: center;
    padding: 1px;
}
.show_link {
  color: #a8a08f;
}